apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: yellowbooks
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: 336098584974.dkr.ecr.ap-southeast-1.amazonaws.com/yellowbooks/web:main
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: '3000'
            - name: NEXT_PUBLIC_API
              valueFrom:
                configMapKeyRef:
                  name: yellowbooks-config
                  key: NEXT_PUBLIC_API
          readinessProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: web
  namespace: yellowbooks
spec:
  selector:
    app: web
  ports:
    - name: http
      port: 80
      targetPort: 3000
  type: ClusterIP
